
*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}


a,
.btn {
    transition:  all 300ms ease;
}

nav,
.nav-link {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;

}

.nav-link{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,18);
}

.logo:hover{
    cursor: default;
}

#humburger-nav{
    display: none;
}

.humburger-menu{
    position: relative;
    display: inline-block;
}

.humburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.humburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}
.menu-links.open {
   max-height: 300px; 
}


.humburger-icon.open span:nth-child(2){
    opacity: 0;
}
.humburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}


.humburger-icon span:first-child {
opacity: 1;
}
.humburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}
.humburger-icon span:first-child{
    transform: none;
}

section{
    padding-top: 4vh;
    height: 96vh;
  
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
display: flex;
}


#profile{
    display: flex;
   
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text{
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
} 

.section__text__p1{
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;

}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.sree {
    border: solid black 2px;
    border-radius: 600px;
    overflow: hidden;
    height: 400px;
    width: 400px;

}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border: 1px solid black;
    border-radius: 2rem;
}

.btn-color-1
.btn-color2{
    border: rgb(19, 18, 18) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover  {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover  {
    background-color: rgb rgb(12, 12, 11) (53,53,53);
    color: rgb(16, 15, 16);
}

.btn-color-1:hover {
    background: #070707;
    color: rgb(247, 242, 242);
}s

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(16, 15, 15) 0.1rem solid;
    background-color: black;
    color: white;
}

.btn-container{
    gap:1rem;
}


.About-pic{
    border: solid black 2px;
    border-radius: 600px;
    overflow: hidden;
    height: 400px;
    width: 400px;
}



#about {
    
}

.about-container {
    gap:2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-containers {
    justify-content: center;
    flex-direction: column;
   


}

.about-containers,
.about-details-containers{
    display: flex;
   
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
    margin-top: 5px;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}



.experience-sub-title{
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experiance-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;

    justify-content: space-around;
    gap: 0.5rem;

}

article .icon{
    cursor: default;
}



.project-sub-title{
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.project-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container2 {
  display: flex;

  min-height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

article2{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
 
}

article2 .icon{
    cursor: default;
}
.pro-img{
    display:flex;
    flex-direction: column;
   
    align-items:center ;
    justify-content: center;

}

.pro{
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pro-img{
    margin-top: 10px;

}
.box{
   
    margin-top: 10px;
    border:2px solid rgb(86, 86, 86);
    border-radius: 15px;
    padding: 10px;
}





    
.contact{
    display: flex;
   
    align-items: center;
    justify-content: center;
}
    



.contact {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.contact form textarea {
    resize: vertical; 
}


.contact form input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact form input[type="submit"]:hover {
    background-color: #45a049;
}
.te{
    font-weight: bold;
    font-size: ;
}

@media (max-width: 768px) {
    .contact {
        width: 100%;
    }
}

  